:root{
    --fuente: "Turret Road", sans-serif;
    /*colores*/
    --negroTrans: rgb(8,9,12, 0.5);
    --negro: #000B07;
    --rojofondo: #56060F;
    --rojoTrans: rgb(242, 22, 62, 0.6);
    --rojo: #F2163E;
    --pistacheTrans: rgb(43, 237, 226, 0.4);
    --pistache: rgb(43, 237, 226);
    --amarillo: #DDE00D;
    --purpuraTrans: rgb(110, 3, 140, 0.6);
    --purpura: rgb(110, 3, 140 );
    --moradoTrans: rgb(241, 23, 255, 0.6);
    --morado: rgb(241, 23, 255);
    --naranja: rgba(222,108,70,255);
    --blanco: rgb(255, 250, 250);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before,*:after{
    box-sizing: inherit;
}
body{
    font-size: 1.5rem;
    line-height: 1.5;
    /*background-image: linear-gradient(to top, var(--negro) 0%,var(--rojofondo) 90%);*/
    /*background-repeat: initial;*/
    background-color: var(--negro);

}
h1,h2,h3,h4,p,a{
    font-family: "Turret Road", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--blanco);

}
h1 {
    font-size: 3.8rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2.4rem;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.8rem;
}
.footer{
    margin-top: 20rem;
}
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-contenido{
    text-align: center ;
}
.encabezado{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid var(--rojo);
    grid-gap: 1rem;
    padding-bottom: 1rem;
}
.encabezado--contenido{
    padding-left: 1rem;
}
.titulo{
    font-size: 3rem;
    text-transform: capitalize;
}
.bar1{
    border: 2px solid var(--rojo);
    color: var(--rojo);
}
.encabezado-activo{
    grid-row: 2/3;
    grid-column: 1/2;
}

.barra{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--negro);
    margin-top: 3rem;
    gap: 1rem;
}
.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--rojo);
    height: 24rem;
}
.titulo-activo,
.icon,
.titulo:hover,
.navegacion:hover{
    border-color: var(--pistache);
    color: var(--pistache);
    .icon{
        stroke: var(--pistache);
    }
    transition: .3s ease;
}
.icon{
    padding: 1rem;
    height: 10rem;
    width: 10rem;
}