:root{
    --fuente: "Turret Road", sans-serif;
    /*colores*/
    --negroTrans: rgb(8,9,12, 0.5);
    --negro: rgb(8,9,12);
    --pistache: rgb(205, 254, 255);
    --amarillo: #DDE00D;
    --purpuraTrans: rgb(110, 3, 140, 0.6);
    --purpura: rgb(110, 3, 140 );
    --moradoTrans: rgb(241, 23, 255, 0.6);
    --morado: rgb(241, 23, 255);
    --naranja: rgba(222,108,70,255);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before,*:after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    background-image: url("../img/theme.jpg");
    font-family: var(--fuente);
}
h1,h2,h3,h4{
    line-height: 1.2;
}
h1 {
    color: var(--amarillo);

    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
.header{
    padding: 0.5rem;
}
.subtitulo{
}
.contenedor{
    width: min(90%, 120rem);
    margin: 0 auto;
}
.encabezado{
    background-color: var(--negroTrans);
    border: 2px solid var(--amarillo);
    color: var(--pistache);
    display: flex;
    justify-content: center;
    /*margin: 0 5rem;*/
}
.menu{
    display: grid;
}
a{
    text-decoration: none;
}
.nav-bar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.navegacion{
    background-color: var(--negroTrans) ;
    border: 2px solid var(--morado);
    color: var(--amarillo);
    padding: 1rem 1rem;
    margin: 0.5rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    /*width: 90%;*/
    text-align: center;
}
.navegacion:hover{
    cursor: pointer;
    background-color: var(--purpuraTrans);
    border: 2px solid var(--pistache);
}
.iconos{
    background-color: var(--purpuraTrans);
    margin: auto;
    width: 13rem;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}